backcall
beautifulsoup4
bleach
certifi
chardet
cycler
descartes
decorator
defusedxml
entrypoints
folium
geojson
geopandas
geopy
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
lxml
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numexpr
numpy
pandas
pandas-profiling
pandocfilters
parso
pexpect
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
requests
rise
scikit-learn
scipy
seaborn
Send2Trash
six
soupsieve
tables
terminado
testpath
torch 
torchvision 
torchaudio
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
xgboost
