#backcall
beautifulsoup4
#bleach
boto3
#certifi
#chardet
#cycler
datapane
descartes
#decorator
#defusedxml
entrypoints
folium
geojson
geopandas
geopy
#idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
lxml
MarkupSafe
matplotlib
#mistune
nbconvert
nbformat
netcdf4
notebook
numexpr
numpy
openpyxl
pandas
pandas-profiling
pandocfilters
parso
pexpect
pickleshare
Pillow
plotly
#prometheus-client
#prompt-toolkit
#ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
#qtconsole
requests
#rise
sagemaker
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
shap
six
#soupsieve
spacy
tables
#terminado
testpath
torch 
torchsummary
torchvision 
torchtext
torchaudio
#tornado
#traitlets
urllib3
#wcwidth
webencodings
widgetsnbextension
wordcloud
xgboost
